/*
 * Amadeus Travel Innovation Sandbox
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.2
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.AffiliateSearchResponse;
import io.swagger.client.model.AirportAutocompleteResponse;
import java.math.BigDecimal;
import io.swagger.client.model.CarSearchResponse;
import io.swagger.client.model.Error;
import io.swagger.client.model.ExtensiveTrainSearchResponse;
import io.swagger.client.model.ExtremeSearchResponse;
import io.swagger.client.model.FlightTrafficSearchResult;
import io.swagger.client.model.HotelPropertyResponse;
import io.swagger.client.model.HotelSearchResponse;
import org.threeten.bp.LocalDate;
import io.swagger.client.model.LocationResponse;
import io.swagger.client.model.LowFareSearchResponse;
import io.swagger.client.model.NearestAirport;
import io.swagger.client.model.PointsOfInterestResponse;
import io.swagger.client.model.RailStationAutocompleteResponse;
import io.swagger.client.model.RailStationResponse;
import io.swagger.client.model.TopDestinationsSearchResponse;
import io.swagger.client.model.TopSearchesSearchResponse;
import io.swagger.client.model.TrainScheduleSearchResponse;
import io.swagger.client.model.TravelRecordResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DefaultApi {
    private ApiClient apiClient;

    public DefaultApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DefaultApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for airportAutocomplete
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param term Search keyword that should represent the start of a word in a city or airport name. (required)
     * @param country Identified a country based of a &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes\&quot;&gt;ISO 3166-1 alpha-2 code&lt;/a&gt; (optional, default to US)
     * @param allAirports Boolean to include or not all airports, no matter their traffic rank. False by default, to only display relevant airports. (optional, default to false)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call airportAutocompleteCall(String apikey, String term, String country, Boolean allAirports, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/airports/autocomplete";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apikey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apikey", apikey));
        if (term != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("term", term));
        if (country != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("country", country));
        if (allAirports != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("all_airports", allAirports));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call airportAutocompleteValidateBeforeCall(String apikey, String term, String country, Boolean allAirports, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'apikey' is set
        if (apikey == null) {
            throw new ApiException("Missing the required parameter 'apikey' when calling airportAutocomplete(Async)");
        }
        
        // verify the required parameter 'term' is set
        if (term == null) {
            throw new ApiException("Missing the required parameter 'term' when calling airportAutocomplete(Async)");
        }
        

        com.squareup.okhttp.Call call = airportAutocompleteCall(apikey, term, country, allAirports, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Airport Autocomplete - Find an IATA location code for flight search based on a city or airport name using the term parameter. By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly. The API is fully JQuery-Autocomplete compatible to enable you to quickly build a drop-down list for your users to find the right airport easily.
     * &lt;p&gt;Using the term parameter and given the start of any word in an airport&#39;s official name, a city name, or the start of an &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt;, this API provides the full name and IATA location code of the city or airport, for use in flight searches. Only major cities and civilian airports with several commercial flights per week are included by default. The response provides up to 20 possible matches, sorted by importance, in a &lt;a href&#x3D;\&quot;http://jqueryui.com/autocomplete/\&quot;&gt;JQuery UI Autocomplete&lt;/a&gt; compatible format. &lt;a href&#x3D;\&quot;https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/airport-autocomplete-template.html\&quot;&gt;This sample implementation&lt;/a&gt; using JQuery UI may help. This API uses data from the &lt;a href&#x3D;\&quot;https://github.com/opentraveldata/opentraveldata/blob/master/opentraveldata/optd_por_public.csv\&quot;&gt;OpenTravelData&lt;/a&gt; project. &lt;/p&gt;  &lt;p&gt;By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly.           &lt;/p&gt; &lt;p&gt;The value returned is the IATA location code. The label returned is always in UTF-8 format, with the airport official name (which is often in the native language), in the format of English City Name (if not already included in the airport name).&lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param term Search keyword that should represent the start of a word in a city or airport name. (required)
     * @param country Identified a country based of a &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes\&quot;&gt;ISO 3166-1 alpha-2 code&lt;/a&gt; (optional, default to US)
     * @param allAirports Boolean to include or not all airports, no matter their traffic rank. False by default, to only display relevant airports. (optional, default to false)
     * @return List&lt;AirportAutocompleteResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<AirportAutocompleteResponse> airportAutocomplete(String apikey, String term, String country, Boolean allAirports) throws ApiException {
        ApiResponse<List<AirportAutocompleteResponse>> resp = airportAutocompleteWithHttpInfo(apikey, term, country, allAirports);
        return resp.getData();
    }

    /**
     * Airport Autocomplete - Find an IATA location code for flight search based on a city or airport name using the term parameter. By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly. The API is fully JQuery-Autocomplete compatible to enable you to quickly build a drop-down list for your users to find the right airport easily.
     * &lt;p&gt;Using the term parameter and given the start of any word in an airport&#39;s official name, a city name, or the start of an &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt;, this API provides the full name and IATA location code of the city or airport, for use in flight searches. Only major cities and civilian airports with several commercial flights per week are included by default. The response provides up to 20 possible matches, sorted by importance, in a &lt;a href&#x3D;\&quot;http://jqueryui.com/autocomplete/\&quot;&gt;JQuery UI Autocomplete&lt;/a&gt; compatible format. &lt;a href&#x3D;\&quot;https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/airport-autocomplete-template.html\&quot;&gt;This sample implementation&lt;/a&gt; using JQuery UI may help. This API uses data from the &lt;a href&#x3D;\&quot;https://github.com/opentraveldata/opentraveldata/blob/master/opentraveldata/optd_por_public.csv\&quot;&gt;OpenTravelData&lt;/a&gt; project. &lt;/p&gt;  &lt;p&gt;By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly.           &lt;/p&gt; &lt;p&gt;The value returned is the IATA location code. The label returned is always in UTF-8 format, with the airport official name (which is often in the native language), in the format of English City Name (if not already included in the airport name).&lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param term Search keyword that should represent the start of a word in a city or airport name. (required)
     * @param country Identified a country based of a &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes\&quot;&gt;ISO 3166-1 alpha-2 code&lt;/a&gt; (optional, default to US)
     * @param allAirports Boolean to include or not all airports, no matter their traffic rank. False by default, to only display relevant airports. (optional, default to false)
     * @return ApiResponse&lt;List&lt;AirportAutocompleteResponse&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<AirportAutocompleteResponse>> airportAutocompleteWithHttpInfo(String apikey, String term, String country, Boolean allAirports) throws ApiException {
        com.squareup.okhttp.Call call = airportAutocompleteValidateBeforeCall(apikey, term, country, allAirports, null, null);
        Type localVarReturnType = new TypeToken<List<AirportAutocompleteResponse>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Airport Autocomplete - Find an IATA location code for flight search based on a city or airport name using the term parameter. By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly. The API is fully JQuery-Autocomplete compatible to enable you to quickly build a drop-down list for your users to find the right airport easily. (asynchronously)
     * &lt;p&gt;Using the term parameter and given the start of any word in an airport&#39;s official name, a city name, or the start of an &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt;, this API provides the full name and IATA location code of the city or airport, for use in flight searches. Only major cities and civilian airports with several commercial flights per week are included by default. The response provides up to 20 possible matches, sorted by importance, in a &lt;a href&#x3D;\&quot;http://jqueryui.com/autocomplete/\&quot;&gt;JQuery UI Autocomplete&lt;/a&gt; compatible format. &lt;a href&#x3D;\&quot;https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/airport-autocomplete-template.html\&quot;&gt;This sample implementation&lt;/a&gt; using JQuery UI may help. This API uses data from the &lt;a href&#x3D;\&quot;https://github.com/opentraveldata/opentraveldata/blob/master/opentraveldata/optd_por_public.csv\&quot;&gt;OpenTravelData&lt;/a&gt; project. &lt;/p&gt;  &lt;p&gt;By only using the country parameter, this API is also able to find all the IATA location codes associated with a country. Both term and country parameters can be used together to filter the results accordingly.           &lt;/p&gt; &lt;p&gt;The value returned is the IATA location code. The label returned is always in UTF-8 format, with the airport official name (which is often in the native language), in the format of English City Name (if not already included in the airport name).&lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param term Search keyword that should represent the start of a word in a city or airport name. (required)
     * @param country Identified a country based of a &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_3166-2#Current_codes\&quot;&gt;ISO 3166-1 alpha-2 code&lt;/a&gt; (optional, default to US)
     * @param allAirports Boolean to include or not all airports, no matter their traffic rank. False by default, to only display relevant airports. (optional, default to false)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call airportAutocompleteAsync(String apikey, String term, String country, Boolean allAirports, final ApiCallback<List<AirportAutocompleteResponse>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = airportAutocompleteValidateBeforeCall(apikey, term, country, allAirports, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<AirportAutocompleteResponse>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for carRentalAirportSearch
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param location The &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the airport at which the car will be rented. (required)
     * @param pickUp Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param dropOff Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param provider 2 character car rental provider code. You may provide this parameter more than once.  (optional, default to ZI)
     * @param rateClass Allows to request specific rate types. (optional, default to ALL)
     * @param ratePlan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param rateFilter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call carRentalAirportSearchCall(String apikey, String location, String pickUp, String dropOff, String lang, String currency, String provider, String rateClass, String ratePlan, String rateFilter, List<String> vehicle, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/cars/search-airport";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apikey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apikey", apikey));
        if (location != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("location", location));
        if (pickUp != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pick_up", pickUp));
        if (dropOff != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("drop_off", dropOff));
        if (lang != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("lang", lang));
        if (currency != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("currency", currency));
        if (provider != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("provider", provider));
        if (rateClass != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("rate_class", rateClass));
        if (ratePlan != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("rate_plan", ratePlan));
        if (rateFilter != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("rate_filter", rateFilter));
        if (vehicle != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "vehicle", vehicle));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call carRentalAirportSearchValidateBeforeCall(String apikey, String location, String pickUp, String dropOff, String lang, String currency, String provider, String rateClass, String ratePlan, String rateFilter, List<String> vehicle, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'apikey' is set
        if (apikey == null) {
            throw new ApiException("Missing the required parameter 'apikey' when calling carRentalAirportSearch(Async)");
        }
        
        // verify the required parameter 'location' is set
        if (location == null) {
            throw new ApiException("Missing the required parameter 'location' when calling carRentalAirportSearch(Async)");
        }
        
        // verify the required parameter 'pickUp' is set
        if (pickUp == null) {
            throw new ApiException("Missing the required parameter 'pickUp' when calling carRentalAirportSearch(Async)");
        }
        
        // verify the required parameter 'dropOff' is set
        if (dropOff == null) {
            throw new ApiException("Missing the required parameter 'dropOff' when calling carRentalAirportSearch(Async)");
        }
        

        com.squareup.okhttp.Call call = carRentalAirportSearchCall(apikey, location, pickUp, dropOff, lang, currency, provider, rateClass, ratePlan, rateFilter, vehicle, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Car Rental Airport Search - Find car rental providers and rates when you provide an airport code, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
     * &lt;p&gt;With this API you can find out the price and type of car, for all car rental providers, near a specified airport.&lt;/p&gt;  &lt;p&gt;You can quickly see the locations of car providers near a given airport, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.&lt;/p&gt;             &lt;p&gt;Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider&#39;s systems. However, this means the final result is guaranteed to be live and accurate.&lt;/p&gt;  &lt;p&gt;The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off.&lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param location The &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the airport at which the car will be rented. (required)
     * @param pickUp Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param dropOff Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param provider 2 character car rental provider code. You may provide this parameter more than once.  (optional, default to ZI)
     * @param rateClass Allows to request specific rate types. (optional, default to ALL)
     * @param ratePlan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param rateFilter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @return CarSearchResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CarSearchResponse carRentalAirportSearch(String apikey, String location, String pickUp, String dropOff, String lang, String currency, String provider, String rateClass, String ratePlan, String rateFilter, List<String> vehicle) throws ApiException {
        ApiResponse<CarSearchResponse> resp = carRentalAirportSearchWithHttpInfo(apikey, location, pickUp, dropOff, lang, currency, provider, rateClass, ratePlan, rateFilter, vehicle);
        return resp.getData();
    }

    /**
     * Car Rental Airport Search - Find car rental providers and rates when you provide an airport code, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
     * &lt;p&gt;With this API you can find out the price and type of car, for all car rental providers, near a specified airport.&lt;/p&gt;  &lt;p&gt;You can quickly see the locations of car providers near a given airport, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.&lt;/p&gt;             &lt;p&gt;Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider&#39;s systems. However, this means the final result is guaranteed to be live and accurate.&lt;/p&gt;  &lt;p&gt;The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off.&lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param location The &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the airport at which the car will be rented. (required)
     * @param pickUp Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param dropOff Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param provider 2 character car rental provider code. You may provide this parameter more than once.  (optional, default to ZI)
     * @param rateClass Allows to request specific rate types. (optional, default to ALL)
     * @param ratePlan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param rateFilter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @return ApiResponse&lt;CarSearchResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CarSearchResponse> carRentalAirportSearchWithHttpInfo(String apikey, String location, String pickUp, String dropOff, String lang, String currency, String provider, String rateClass, String ratePlan, String rateFilter, List<String> vehicle) throws ApiException {
        com.squareup.okhttp.Call call = carRentalAirportSearchValidateBeforeCall(apikey, location, pickUp, dropOff, lang, currency, provider, rateClass, ratePlan, rateFilter, vehicle, null, null);
        Type localVarReturnType = new TypeToken<CarSearchResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Car Rental Airport Search - Find car rental providers and rates when you provide an airport code, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination. (asynchronously)
     * &lt;p&gt;With this API you can find out the price and type of car, for all car rental providers, near a specified airport.&lt;/p&gt;  &lt;p&gt;You can quickly see the locations of car providers near a given airport, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.&lt;/p&gt;             &lt;p&gt;Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider&#39;s systems. However, this means the final result is guaranteed to be live and accurate.&lt;/p&gt;  &lt;p&gt;The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off.&lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param location The &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the airport at which the car will be rented. (required)
     * @param pickUp Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param dropOff Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param provider 2 character car rental provider code. You may provide this parameter more than once.  (optional, default to ZI)
     * @param rateClass Allows to request specific rate types. (optional, default to ALL)
     * @param ratePlan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param rateFilter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call carRentalAirportSearchAsync(String apikey, String location, String pickUp, String dropOff, String lang, String currency, String provider, String rateClass, String ratePlan, String rateFilter, List<String> vehicle, final ApiCallback<CarSearchResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = carRentalAirportSearchValidateBeforeCall(apikey, location, pickUp, dropOff, lang, currency, provider, rateClass, ratePlan, rateFilter, vehicle, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CarSearchResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for carRentalGeosearch
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param latitude Latitude of the center of the search. (required)
     * @param longitude Longitude of the center of the search. (required)
     * @param radius Radius around the center to look for hotels in kilometers (km). (required)
     * @param pickUp Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param dropOff Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param provider 2 character car rental provider code. You may provide this parameter more than once.  (optional, default to ZI)
     * @param rateClass Allows to request specific rate types. (optional, default to ALL)
     * @param ratePlan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param rateFilter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call carRentalGeosearchCall(String apikey, BigDecimal latitude, BigDecimal longitude, Integer radius, String pickUp, String dropOff, String lang, String currency, String provider, String rateClass, String ratePlan, String rateFilter, List<String> vehicle, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/cars/search-circle";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apikey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apikey", apikey));
        if (latitude != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("latitude", latitude));
        if (longitude != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("longitude", longitude));
        if (radius != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("radius", radius));
        if (pickUp != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("pick_up", pickUp));
        if (dropOff != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("drop_off", dropOff));
        if (lang != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("lang", lang));
        if (currency != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("currency", currency));
        if (provider != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("provider", provider));
        if (rateClass != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("rate_class", rateClass));
        if (ratePlan != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("rate_plan", ratePlan));
        if (rateFilter != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("rate_filter", rateFilter));
        if (vehicle != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "vehicle", vehicle));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call carRentalGeosearchValidateBeforeCall(String apikey, BigDecimal latitude, BigDecimal longitude, Integer radius, String pickUp, String dropOff, String lang, String currency, String provider, String rateClass, String ratePlan, String rateFilter, List<String> vehicle, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'apikey' is set
        if (apikey == null) {
            throw new ApiException("Missing the required parameter 'apikey' when calling carRentalGeosearch(Async)");
        }
        
        // verify the required parameter 'latitude' is set
        if (latitude == null) {
            throw new ApiException("Missing the required parameter 'latitude' when calling carRentalGeosearch(Async)");
        }
        
        // verify the required parameter 'longitude' is set
        if (longitude == null) {
            throw new ApiException("Missing the required parameter 'longitude' when calling carRentalGeosearch(Async)");
        }
        
        // verify the required parameter 'radius' is set
        if (radius == null) {
            throw new ApiException("Missing the required parameter 'radius' when calling carRentalGeosearch(Async)");
        }
        
        // verify the required parameter 'pickUp' is set
        if (pickUp == null) {
            throw new ApiException("Missing the required parameter 'pickUp' when calling carRentalGeosearch(Async)");
        }
        
        // verify the required parameter 'dropOff' is set
        if (dropOff == null) {
            throw new ApiException("Missing the required parameter 'dropOff' when calling carRentalGeosearch(Async)");
        }
        

        com.squareup.okhttp.Call call = carRentalGeosearchCall(apikey, latitude, longitude, radius, pickUp, dropOff, lang, currency, provider, rateClass, ratePlan, rateFilter, vehicle, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Car Rental Geosearch - Locate car rental providers and available vehicles when you define a circular area with one coordinate and radius, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
     * &lt;p&gt;With this API you can find out the price and type of car, for all car rental providers, in a specified geographical location.&lt;/p&gt;  &lt;p&gt;You can quickly see the locations of car providers near a given point, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.&lt;/p&gt;             &lt;p&gt;Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider&#39;s systems. However, this means the final result is guaranteed to be live and accurate.&lt;/p&gt;  &lt;p&gt;The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off. &lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param latitude Latitude of the center of the search. (required)
     * @param longitude Longitude of the center of the search. (required)
     * @param radius Radius around the center to look for hotels in kilometers (km). (required)
     * @param pickUp Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param dropOff Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param provider 2 character car rental provider code. You may provide this parameter more than once.  (optional, default to ZI)
     * @param rateClass Allows to request specific rate types. (optional, default to ALL)
     * @param ratePlan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param rateFilter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @return CarSearchResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public CarSearchResponse carRentalGeosearch(String apikey, BigDecimal latitude, BigDecimal longitude, Integer radius, String pickUp, String dropOff, String lang, String currency, String provider, String rateClass, String ratePlan, String rateFilter, List<String> vehicle) throws ApiException {
        ApiResponse<CarSearchResponse> resp = carRentalGeosearchWithHttpInfo(apikey, latitude, longitude, radius, pickUp, dropOff, lang, currency, provider, rateClass, ratePlan, rateFilter, vehicle);
        return resp.getData();
    }

    /**
     * Car Rental Geosearch - Locate car rental providers and available vehicles when you define a circular area with one coordinate and radius, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination.
     * &lt;p&gt;With this API you can find out the price and type of car, for all car rental providers, in a specified geographical location.&lt;/p&gt;  &lt;p&gt;You can quickly see the locations of car providers near a given point, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.&lt;/p&gt;             &lt;p&gt;Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider&#39;s systems. However, this means the final result is guaranteed to be live and accurate.&lt;/p&gt;  &lt;p&gt;The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off. &lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param latitude Latitude of the center of the search. (required)
     * @param longitude Longitude of the center of the search. (required)
     * @param radius Radius around the center to look for hotels in kilometers (km). (required)
     * @param pickUp Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param dropOff Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param provider 2 character car rental provider code. You may provide this parameter more than once.  (optional, default to ZI)
     * @param rateClass Allows to request specific rate types. (optional, default to ALL)
     * @param ratePlan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param rateFilter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @return ApiResponse&lt;CarSearchResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<CarSearchResponse> carRentalGeosearchWithHttpInfo(String apikey, BigDecimal latitude, BigDecimal longitude, Integer radius, String pickUp, String dropOff, String lang, String currency, String provider, String rateClass, String ratePlan, String rateFilter, List<String> vehicle) throws ApiException {
        com.squareup.okhttp.Call call = carRentalGeosearchValidateBeforeCall(apikey, latitude, longitude, radius, pickUp, dropOff, lang, currency, provider, rateClass, ratePlan, rateFilter, vehicle, null, null);
        Type localVarReturnType = new TypeToken<CarSearchResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Car Rental Geosearch - Locate car rental providers and available vehicles when you define a circular area with one coordinate and radius, as well as the pick-up and drop-off dates. Optional parameters such as currency and rental provider codes are also available and can be used to narrow down the results. This API is an ideal pairing with the flight and hotel search to provide ground transportation options at the destination. (asynchronously)
     * &lt;p&gt;With this API you can find out the price and type of car, for all car rental providers, in a specified geographical location.&lt;/p&gt;  &lt;p&gt;You can quickly see the locations of car providers near a given point, and what cars are available to rent, and at what prices. This API is based on our car pricing service that gets live availability from car providers, and is used to power a variety of airline and travel agency websites.&lt;/p&gt;             &lt;p&gt;Results are validated from car providers, and thus response times may take up to 10 seconds (response times are typically about 5s), and the number of concurrent calls is throttled per user to avoid flooding our provider&#39;s systems. However, this means the final result is guaranteed to be live and accurate.&lt;/p&gt;  &lt;p&gt;The configuration of this API allows search for car rentals in the rental location where the car is picked up (at the start of the rental), is the same as the one where it will be dropped off. &lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param latitude Latitude of the center of the search. (required)
     * @param longitude Longitude of the center of the search. (required)
     * @param radius Radius around the center to look for hotels in kilometers (km). (required)
     * @param pickUp Date on which the car rental will be collected from the car rental location. If no time is provided, a default value of 09:00 is used. Past availability is not displayed, future availability becomes less useful from about 6 months from the current date. (required)
     * @param dropOff Date at which the car rental will end and the car will be returned to the rental location. If no time is provided, a default value of 17:00 is used. (required)
     * @param lang The preferred language of the content related to each car rental. Content will be returned in this language if available. (optional, default to EN)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; to use when displaying prices and rates related to the car rental. (optional, default to USD)
     * @param provider 2 character car rental provider code. You may provide this parameter more than once.  (optional, default to ZI)
     * @param rateClass Allows to request specific rate types. (optional, default to ALL)
     * @param ratePlan Qualifies the rate depending on the pickup date and the rental duration. (optional, default to DAILY)
     * @param rateFilter Defines the types of rates to be returned in the output (optional, default to ESTIMATED)
     * @param vehicle Specifies the type of vehicle to be rented. If selected, the results set will include only vehicles that match these type descriptions. The enumerations above correspond to ACRISS Pseudo Codes, and you may also provide an ACRISS pseudo code directly. If specifying a vehicle-specific ACRISS code, you may provide this parameter up to 3 times. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call carRentalGeosearchAsync(String apikey, BigDecimal latitude, BigDecimal longitude, Integer radius, String pickUp, String dropOff, String lang, String currency, String provider, String rateClass, String ratePlan, String rateFilter, List<String> vehicle, final ApiCallback<CarSearchResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = carRentalGeosearchValidateBeforeCall(apikey, latitude, longitude, radius, pickUp, dropOff, lang, currency, provider, rateClass, ratePlan, rateFilter, vehicle, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<CarSearchResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for flightAffiliateSearch
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param origin City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param departureDate The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search!  (required)
     * @param returnDate The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found (optional, default to 2017-08-28)
     * @param adults The number of adult (age 12 and over) passengers traveling on this flight. (optional, default to 1)
     * @param children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat (optional, default to 0)
     * @param infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults. (optional, default to 0)
     * @param includeMerchants If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param excludeMerchants If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param maxPrice Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied (optional, default to 980)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (optional, default to EUR)
     * @param mobile Setting this to true will show mobile web deeplinks  (optional, default to false)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call flightAffiliateSearchCall(String apikey, String origin, String destination, String departureDate, String returnDate, Integer adults, Integer children, Integer infants, List<String> includeMerchants, List<String> excludeMerchants, Integer maxPrice, String currency, Boolean mobile, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/flights/affiliate-search";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apikey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apikey", apikey));
        if (origin != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("origin", origin));
        if (destination != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("destination", destination));
        if (departureDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("departure_date", departureDate));
        if (returnDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("return_date", returnDate));
        if (adults != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("adults", adults));
        if (children != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("children", children));
        if (infants != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("infants", infants));
        if (includeMerchants != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "include_merchants", includeMerchants));
        if (excludeMerchants != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "exclude_merchants", excludeMerchants));
        if (maxPrice != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("max_price", maxPrice));
        if (currency != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("currency", currency));
        if (mobile != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("mobile", mobile));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call flightAffiliateSearchValidateBeforeCall(String apikey, String origin, String destination, String departureDate, String returnDate, Integer adults, Integer children, Integer infants, List<String> includeMerchants, List<String> excludeMerchants, Integer maxPrice, String currency, Boolean mobile, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'apikey' is set
        if (apikey == null) {
            throw new ApiException("Missing the required parameter 'apikey' when calling flightAffiliateSearch(Async)");
        }
        
        // verify the required parameter 'origin' is set
        if (origin == null) {
            throw new ApiException("Missing the required parameter 'origin' when calling flightAffiliateSearch(Async)");
        }
        
        // verify the required parameter 'destination' is set
        if (destination == null) {
            throw new ApiException("Missing the required parameter 'destination' when calling flightAffiliateSearch(Async)");
        }
        
        // verify the required parameter 'departureDate' is set
        if (departureDate == null) {
            throw new ApiException("Missing the required parameter 'departureDate' when calling flightAffiliateSearch(Async)");
        }
        

        com.squareup.okhttp.Call call = flightAffiliateSearchCall(apikey, origin, destination, departureDate, returnDate, adults, children, infants, includeMerchants, excludeMerchants, maxPrice, currency, mobile, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Flight Affiliate Search - Use Travel Audience Connect&#39;s affiliate network API to search flights from our list of partners and provides deep-links to allow the user to book directly on the airline website.
     * &lt;p&gt;The Flight Affiliate Search API combines Amadeus&#39; flight search technology with Travel Audience&#39;s Connect API partners to provide a unique flight search, where all results come with deep-links to book the flight at a partner&#39;s website. The API will let you easily provide the traveler with a path to book flights from your application.&lt;/p&gt; &lt;p&gt;Travel Audience Connect partners include &lt;ul&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.cityjet.com/\&quot;&gt;CityJet&lt;/a&gt;, &lt;a href&#x3D;\&quot;https://www.aireuropa.com/en/flights\&quot;&gt;Air Europa&lt;/a&gt; and &lt;a href&#x3D;\&quot;http://www.flytap.com/\&quot;&gt;TAP&lt;/a&gt; in Western Europe,&lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://uralairlines.com/\&quot;&gt;Ural Airlines&lt;/a&gt; in Russia, &lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.avianca.com.br/\&quot;&gt;Avianca Brazil&lt;/a&gt;  and&lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.jal.com/\&quot;&gt;JAL&lt;/a&gt; in East Asia&lt;/li&gt; &lt;/ul&gt; &lt;/p&gt; &lt;p&gt;Only Travel Audience Connect partner airlines are searched. For an up-to-date list of routes, see the route maps on each partners respective websites above. You can earn commission using the deep links provided in the search results if you sign up for an account at &lt;a href&#x3D;\&quot;http://connect.travelaudience.com/\&quot;&gt;connect.travelaudience.com&lt;/a&gt;.&lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param origin City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param departureDate The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search!  (required)
     * @param returnDate The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found (optional, default to 2017-08-28)
     * @param adults The number of adult (age 12 and over) passengers traveling on this flight. (optional, default to 1)
     * @param children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat (optional, default to 0)
     * @param infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults. (optional, default to 0)
     * @param includeMerchants If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param excludeMerchants If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param maxPrice Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied (optional, default to 980)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (optional, default to EUR)
     * @param mobile Setting this to true will show mobile web deeplinks  (optional, default to false)
     * @return AffiliateSearchResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public AffiliateSearchResponse flightAffiliateSearch(String apikey, String origin, String destination, String departureDate, String returnDate, Integer adults, Integer children, Integer infants, List<String> includeMerchants, List<String> excludeMerchants, Integer maxPrice, String currency, Boolean mobile) throws ApiException {
        ApiResponse<AffiliateSearchResponse> resp = flightAffiliateSearchWithHttpInfo(apikey, origin, destination, departureDate, returnDate, adults, children, infants, includeMerchants, excludeMerchants, maxPrice, currency, mobile);
        return resp.getData();
    }

    /**
     * Flight Affiliate Search - Use Travel Audience Connect&#39;s affiliate network API to search flights from our list of partners and provides deep-links to allow the user to book directly on the airline website.
     * &lt;p&gt;The Flight Affiliate Search API combines Amadeus&#39; flight search technology with Travel Audience&#39;s Connect API partners to provide a unique flight search, where all results come with deep-links to book the flight at a partner&#39;s website. The API will let you easily provide the traveler with a path to book flights from your application.&lt;/p&gt; &lt;p&gt;Travel Audience Connect partners include &lt;ul&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.cityjet.com/\&quot;&gt;CityJet&lt;/a&gt;, &lt;a href&#x3D;\&quot;https://www.aireuropa.com/en/flights\&quot;&gt;Air Europa&lt;/a&gt; and &lt;a href&#x3D;\&quot;http://www.flytap.com/\&quot;&gt;TAP&lt;/a&gt; in Western Europe,&lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://uralairlines.com/\&quot;&gt;Ural Airlines&lt;/a&gt; in Russia, &lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.avianca.com.br/\&quot;&gt;Avianca Brazil&lt;/a&gt;  and&lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.jal.com/\&quot;&gt;JAL&lt;/a&gt; in East Asia&lt;/li&gt; &lt;/ul&gt; &lt;/p&gt; &lt;p&gt;Only Travel Audience Connect partner airlines are searched. For an up-to-date list of routes, see the route maps on each partners respective websites above. You can earn commission using the deep links provided in the search results if you sign up for an account at &lt;a href&#x3D;\&quot;http://connect.travelaudience.com/\&quot;&gt;connect.travelaudience.com&lt;/a&gt;.&lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param origin City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param departureDate The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search!  (required)
     * @param returnDate The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found (optional, default to 2017-08-28)
     * @param adults The number of adult (age 12 and over) passengers traveling on this flight. (optional, default to 1)
     * @param children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat (optional, default to 0)
     * @param infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults. (optional, default to 0)
     * @param includeMerchants If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param excludeMerchants If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param maxPrice Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied (optional, default to 980)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (optional, default to EUR)
     * @param mobile Setting this to true will show mobile web deeplinks  (optional, default to false)
     * @return ApiResponse&lt;AffiliateSearchResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<AffiliateSearchResponse> flightAffiliateSearchWithHttpInfo(String apikey, String origin, String destination, String departureDate, String returnDate, Integer adults, Integer children, Integer infants, List<String> includeMerchants, List<String> excludeMerchants, Integer maxPrice, String currency, Boolean mobile) throws ApiException {
        com.squareup.okhttp.Call call = flightAffiliateSearchValidateBeforeCall(apikey, origin, destination, departureDate, returnDate, adults, children, infants, includeMerchants, excludeMerchants, maxPrice, currency, mobile, null, null);
        Type localVarReturnType = new TypeToken<AffiliateSearchResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Flight Affiliate Search - Use Travel Audience Connect&#39;s affiliate network API to search flights from our list of partners and provides deep-links to allow the user to book directly on the airline website. (asynchronously)
     * &lt;p&gt;The Flight Affiliate Search API combines Amadeus&#39; flight search technology with Travel Audience&#39;s Connect API partners to provide a unique flight search, where all results come with deep-links to book the flight at a partner&#39;s website. The API will let you easily provide the traveler with a path to book flights from your application.&lt;/p&gt; &lt;p&gt;Travel Audience Connect partners include &lt;ul&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.cityjet.com/\&quot;&gt;CityJet&lt;/a&gt;, &lt;a href&#x3D;\&quot;https://www.aireuropa.com/en/flights\&quot;&gt;Air Europa&lt;/a&gt; and &lt;a href&#x3D;\&quot;http://www.flytap.com/\&quot;&gt;TAP&lt;/a&gt; in Western Europe,&lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://uralairlines.com/\&quot;&gt;Ural Airlines&lt;/a&gt; in Russia, &lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.avianca.com.br/\&quot;&gt;Avianca Brazil&lt;/a&gt;  and&lt;/li&gt;   &lt;li&gt;&lt;a href&#x3D;\&quot;http://www.jal.com/\&quot;&gt;JAL&lt;/a&gt; in East Asia&lt;/li&gt; &lt;/ul&gt; &lt;/p&gt; &lt;p&gt;Only Travel Audience Connect partner airlines are searched. For an up-to-date list of routes, see the route maps on each partners respective websites above. You can earn commission using the deep links provided in the search results if you sign up for an account at &lt;a href&#x3D;\&quot;http://connect.travelaudience.com/\&quot;&gt;connect.travelaudience.com&lt;/a&gt;.&lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param origin City code from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param departureDate The date on which the traveler will depart from the origin to go to the destination. The maximum scope for a date range is 2 days, for a larger scope, use the Extensive Search!  (required)
     * @param returnDate The date on which the traveler will depart from the destination to return to the origin. If this parameter is not specified, the search will find only one-way trips. If this, or the return_by parameter are specified, only return trips are found (optional, default to 2017-08-28)
     * @param adults The number of adult (age 12 and over) passengers traveling on this flight. (optional, default to 1)
     * @param children The number of child (younger than age 12 on date of departure) passengers traveling on this flight who will each have their own separate seat (optional, default to 0)
     * @param infants The number of infant (younger than age 2 on date of departure) passengers traveling on this flight. Infants travel in the lap of an adult passenger, and thus the number of infants must not exceed the number of adults. (optional, default to 0)
     * @param includeMerchants If specified, all results will include at least one flight where one or more of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param excludeMerchants If specified, no results will include any flights where any of these airlines is the marketing carrier. Airlines are specified using &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;&lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/Airline_codes\&quot;&gt;IATA airline code&lt;/a&gt;s&lt;/a&gt; (optional)
     * @param maxPrice Maximum price of trips to find in the result set, in USD (US dollars) unless some other currency code is specified. By default, no limit is applied (optional, default to 980)
     * @param currency The preferred &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_4217\&quot;&gt;currency&lt;/a&gt; for the results (optional, default to EUR)
     * @param mobile Setting this to true will show mobile web deeplinks  (optional, default to false)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call flightAffiliateSearchAsync(String apikey, String origin, String destination, String departureDate, String returnDate, Integer adults, Integer children, Integer infants, List<String> includeMerchants, List<String> excludeMerchants, Integer maxPrice, String currency, Boolean mobile, final ApiCallback<AffiliateSearchResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = flightAffiliateSearchValidateBeforeCall(apikey, origin, destination, departureDate, returnDate, adults, children, infants, includeMerchants, excludeMerchants, maxPrice, currency, mobile, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<AffiliateSearchResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for flightExtensiveSearch
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param departureDate Range of dates between which the traveler could depart. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available.   (optional, default to 2017-08-16--2017-08-26)
     * @param oneWay When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again. (optional, default to false)
     * @param duration The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true. (optional, default to 1--15)
     * @param direct Limit the search to results that do not require the passenger to change plane? (optional, default to false)
     * @param maxPrice Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied (optional, default to 950)
     * @param aggregationMode Specifies the granularity of results to be found. DAY is the default when one-way is true finds a result for departure date in the date range. STAY is the default otherwise and finds all round trip permutations for this route withim the given date range. DESTINATION finds one result, only the cheapest price for this route over the provided date range. WEEK finds the cheapest result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result. (optional, default to DAY)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call flightExtensiveSearchCall(String apikey, String origin, String destination, String departureDate, Boolean oneWay, String duration, Boolean direct, String maxPrice, String aggregationMode, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/flights/extensive-search";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (apikey != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("apikey", apikey));
        if (origin != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("origin", origin));
        if (destination != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("destination", destination));
        if (departureDate != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("departure_date", departureDate));
        if (oneWay != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("one-way", oneWay));
        if (duration != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("duration", duration));
        if (direct != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("direct", direct));
        if (maxPrice != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("max_price", maxPrice));
        if (aggregationMode != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("aggregation_mode", aggregationMode));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call flightExtensiveSearchValidateBeforeCall(String apikey, String origin, String destination, String departureDate, Boolean oneWay, String duration, Boolean direct, String maxPrice, String aggregationMode, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'apikey' is set
        if (apikey == null) {
            throw new ApiException("Missing the required parameter 'apikey' when calling flightExtensiveSearch(Async)");
        }
        
        // verify the required parameter 'origin' is set
        if (origin == null) {
            throw new ApiException("Missing the required parameter 'origin' when calling flightExtensiveSearch(Async)");
        }
        
        // verify the required parameter 'destination' is set
        if (destination == null) {
            throw new ApiException("Missing the required parameter 'destination' when calling flightExtensiveSearch(Async)");
        }
        

        com.squareup.okhttp.Call call = flightExtensiveSearchCall(apikey, origin, destination, departureDate, oneWay, duration, direct, maxPrice, aggregationMode, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Flight Extensive Search - Build travel searches based on very flexible and open range of dates. You can use it to answer questions such as \&quot;When is the best date to fly...\&quot;.  It&#39;s built on Amadeus&#39; Featured Results technology, which returns thousands of results (prices, itineraries and dates) in a matter of milliseconds. Results are available over half a calendar year with a 1 to 15 day stay duration
     * &lt;p&gt;The Extensive Flight Search allows you to find the prices of one-way or return flights between two airports over a large number of dates, and for a large variety of stay durations. The search doesn&#39;t return exact itineraries, but rather tells you the best price for a flight on a given day, for a stay of a given duration.&lt;/p&gt;  &lt;p&gt;The search is based on our Extreme Search platform, which continually caches a large number of flight search results from a list of origin cities to a variety of destinations. Since it&#39;s a cached search, the response time is fast, but not all origin airports are available. Here is &lt;a href&#x3D;\&quot;https://github.com/amadeus-travel-innovation-sandbox/sandbox-content/blob/master/flight-search-cache-origin-destination.csv\&quot;&gt;a list of the currently supported origin-destination IATA location pairs&lt;/a&gt;. We try to keep this list as fresh as possible for you, but be aware that it may not always be exactly up-to-date and it can change without warning.&lt;/p&gt;  &lt;p&gt;That said, a price graph like this provides a powerful bargin shopping tool - allowing travelers with flexible itineraries to identify days on which they can get the cheapest flights to their destinations.&lt;/p&gt; 
     * @param apikey API Key provided for your account, to identify you for API access. Make sure to keep this API key secret. (required)
     * @param origin &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city from which the traveler will depart. See the location and airport interfaces for more information. (required)
     * @param destination &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\&quot;&gt;IATA code&lt;/a&gt; of the city to which the traveler is going (required)
     * @param departureDate Range of dates between which the traveler could depart. Dates are specified in the &lt;a href&#x3D;\&quot;https://en.wikipedia.org/wiki/ISO_8601\&quot;&gt;ISO 8601&lt;/a&gt; yyyy-MM-dd date format. Ranges are inclusive and ranges of months will apply from the start to the end of the month. If just a single date is specified, only that date will be searched. By default, the date range starts today and applies up to 361 in the future is applied. Past dates are generally not supported, future dates should be in the next 361 days, although results start to become sparse after about 6 months in the future, as airlines may still be defining their schedules. The default is to search all future dates available.   (optional, default to 2017-08-16--2017-08-26)
     * @param oneWay When set to true, the query will be for a single trip from the origin to the destination. When this parameter is not provided, or is set to false, the query is for a round trip from the origin to the destination and back again. (optional, default to false)
     * @param duration The allowed duration or range of durations of the trip, in days. This parameter must not be set if the one-way parameter is set to true. (optional, default to 1--15)
     * @param direct Limit the search to results that do not require the passenger to change plane? (optional, default to false)
     * @param maxPrice Maximum price of trips to find in the result set, in the currency specified for this origin and destination pair in the cache contents spreadsheet. So, for example, if the origin is NYC, and the max price is 400, this means 400 USD. If the origin is PAR, and the max price is 400, this means 400 EUR. By default, no limit is applied (optional, default to 950)
     * @param aggregationMode Specifies the granularity of results to be found. DAY is the default when one-way is true finds a result for departure date in the date range. STAY is the default otherwise and finds all round trip permutations for this route withim the given date range. DESTINATION finds one result, only the cheapest price for this route over the provided date range. WEEK finds the cheapest result for every week in the date range. Note that specifying a small granularity but a large search scope may result in a huge output. For some very large outputs, the API may refuse to provide a result. (optional, default to DAY)
     * @return ExtremeSearchResponse
[...]
